.container {
    padding: 20px;
}

#editor {
    width: 100%;
    height: 300px;
    border: 1px solid #c3c2cf;
    border-radius: 4px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    width: auto;
}